h5{
    display:block;
    font-size: 2rem;
    font-family: DM Sans;
    margin: 2rem;
}
.sec h5{
    display: inline-block;
    font-size: 1.5rem;
    font-family: DM Sans;
}
.result h1{
    font-size:5rem;
    /* margin:2rem;     */
    text-align: center;
    background-color: rgba(0,0,0, 0.2);
    padding:3rem;
    margin: 4rem;
    margin-bottom: 0.5rem;
    border-radius: 10rem;
}
.result h5{
    font-size:3rem;
    margin:2rem;    
    text-align: center;
}.result h6{
    font-size:1.5rem;
    margin:1rem 8rem;    
    text-align: center;
    /* width: 25vw; */
}
.card{
    display: flex;
    margin: 2rem;
    /* flex-wrap: wrap; */
}
.result{
    display: flex;
    background-color: #553cf6;
    border-radius: 1.5rem 0rem 0rem 1.5rem;
    /* border: 0.1rem solid black; */
    display:flex;
    align-items: stretch;
    flex-direction: column;
    flex-wrap:wrap;
    width: 50vw;
    /* margin: 1rem;
    margin-right: 0rem; */
    color:#f9f9f9;
    /* justify-content: flex-end; */
    /* gap:1rem; */
}
.report{
    display: flex;
    background-color: #f9f9f9;
    border-radius: 0rem 1.5rem 1.5rem 0rem;
    /* border: 0.1rem solid black;  */
    display:flex;
    align-items: stretch;
    flex-direction: column;
    flex-wrap:wrap;
    width: 50vw;
    /* margin:1rem;
    margin-left: 0rem; */
    /* justify-content: flex-end; */
    /* gap:1rem; */
}

.sec{
    margin: 1rem;
    border-radius: 1rem;
    padding:0rem 2rem;
    /* width: 50vw; */
}

.reaction{
    color:#ea4335;
    background-color:#dec2bf;
}
.memory{
    color:#fbbc05;
    background-color:#fdf5db;
}
.verbal{
    color:#34a853;
    background-color: #cae4d1;
}
.visual{
    color:#4285f4;
    background-color: #c6d4eb;
}

.score{
    color:#646464;
    float:right;
}
i{
    display: inline-block;
    font-size: 2rem;
}
b{
    display: inline-block;
    color:black;
    font-weight: 1000;
}

div.button{
    align-self: center;
    margin:1rem; 
    /* padding:0.5rem auto; */
    color:#fff;
    border-radius: 4rem;
    background-color: #303b59;
    text-align: center;
    /* width: 20vw; */
}

@media screen and (max-width: 768px){
    .card{
        flex-wrap: wrap;
    }
    .result{
        width: 100%;
    }
    .report{
        width: 100%;
    }
}

